# Исследование надежности заемщиков

**Описание проекта:**    
Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.    
Результаты исследования будут учтены при построении модели кредитного скоринга — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

**Описание данных:**    
children — количество детей в семье    
days_employed — общий трудовой стаж в днях    
dob_years — возраст клиента в годах    
education — уровень образования клиента    
education_id — идентификатор уровня образования    
family_status — семейное положение    
family_status_id — идентификатор семейного положения    
gender — пол клиента    
income_type — тип занятости    
debt — имел ли задолженность по возврату кредитов    
total_income — ежемесячный доход    
purpose — цель получения кредита

## Откроем таблицу и изучим общую информацию о данных

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

In [4]:
# посмотрим количество пропущенных значений
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

В двух столбцах есть пропущенные значения. Столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце следует медианным значением по каждому типу из столбца `income_type`.

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

Заменим все отрицательные значения в днях положительными.

In [6]:
data['days_employed'] = data['days_employed'].abs()

Для каждого типа занятости выведем медианное значение трудового стажа `days_employed` в днях.

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

Выведем перечень уникальных значений столбца `children`.

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

В столбце `children` есть два аномальных значения. Удалим строки, в которых встречаются такие аномальные значения из датафрейма `data`.

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Удаление пропусков (продолжение)

Заполним пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

Заменим вещественный тип данных в столбце `total_income` на целочисленный.

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

Обработаем неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведем их к нижнему регистру.

In [14]:
data['education'] = data['education'].str.lower()

Посмотрим количество строк-дубликатов в данных и удалим их.

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

На основании диапазонов, создим в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

Выведем на экран перечень уникальных целей взятия кредита из столбца `purpose`.

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

Создадим функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуем данные и ответим на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
data.head(2)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем

*Найдем взамосвязь между количеством детей и возвратом кредита*

In [23]:
data_svod_children = data.pivot_table(index=['children'], values='debt', aggfunc=['count', 'sum', 'mean'])
data_svod_children.columns = ['Количество кредиторов', 'Количество должников', 'Задолженность %']
data_svod_children['Задолженность %'] = (data_svod_children['Задолженность %'] * 100).round(decimals=2)
# произвели расчет: сколько всего взяли кредитов, сколько не вернули и % задолженности относительно количества детей 

data_svod_children.reset_index()

   children  Количество кредиторов  Количество должников  Задолженность %
0         0                  14091                  1063             7.54
1         1                   4808                   444             9.23
2         2                   2052                   194             9.45
3         3                    330                    27             8.18
4         4                     41                     4             9.76
5         5                      9                     0             0.00

**Вывод:** из полученных данных можно сделать вывод, что клиенты, имеющие 1 и 2 детей представляют наибольший риск приобретения задолженности. Самые надежные заемщики - не имеющие детей.  
Предполагаю, что данные по клиентам, имеюих 3, 4 и 5 детей не являются полными, тк показатели сильно разнятся, и число клиентов с данными параментами слишком мало, чтобы сформировать реальную картину. Если смотреть на увеличение процента должников с увеличением количества детей (в выборке 0-2 ребенка), предполагаю, что если бы данные были более обширными, показатели задолженности бы повышались с ростом количества детей.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

*Напишем функцию, чтобы не дублировать код*

In [24]:
def analysis(row):
    data_svod = data.pivot_table(index=row, values='debt', aggfunc=['count', 'sum', 'mean'])
    data_svod.columns = ['Количество кредиторов', 'Количество должников', 'Задолженность %']
    data_svod['Задолженность %'] = (data_svod['Задолженность %'] * 100).round(decimals=2)
    return data_svod.reset_index()
# написали функцию для анализа: сколько всего взяли кредитов, сколько не вернули и % задолженности относительно семейного статуса

analysis('family_status')

,family_status,Количество кредиторов,Количество должников,Задолженность %
0,Не женат / не замужем,2796,273,9.76
1,в разводе,1189,84,7.06
2,вдовец / вдова,951,63,6.62
3,гражданский брак,4134,385,9.31
4,женат / замужем,12261,927,7.56

**Вывод:** из полученных данных видно, что лица в категориях "Не женат / не замужем" и "гражданский брак" представляют наибольший риск приобретения задолженности. Самые надежные заемщики в категории "вдовец / вдова". Средние показатели по своевременному возврату задолженности имеют лица, находящиеся в статусах "в разводе", "женат / замужем".

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [25]:
analysis('total_income_category')
# вызвали функцию для анализа: сколько всего взяли кредитов, сколько не вернули и % задолженности относительно уровня дохода

,total_income_category,Количество кредиторов,Количество должников,Задолженность %
0,A,25,2,8.00
1,B,5014,354,7.06
2,C,15921,1353,8.50
3,D,349,21,6.02
4,E,22,2,9.09

**Вывод:** из проведенного анализа можно сделать вывод, что лица доходом менее 30 тыс руб представляют наибольший риск приобретения задолженности. Самые надежные заемщики - имеющие доход от 30 до 50 тыс руб. Примечательно, что лица, имеющие высокий доход больше 1 млн руб также представляют высокий риск невозврата займа в срок и приобретения задолженности.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [26]:
analysis('purpose_category')
# вызвали функцию для анализа: сколько всего взяли кредитов, сколько не вернули и % задолженности относительно цели кредита

,purpose_category,Количество кредиторов,Количество должников,Задолженность %
0,операции с автомобилем,4279,400,9.35
1,операции с недвижимостью,10751,780,7.26
2,получение образования,3988,369,9.25
3,проведение свадьбы,2313,183,7.91

**Вывод:** из таблицы выше видно, что наибольший риск приобретения задолженности ложится на цели кредита "операции с автомобилем" и "получение образования", тогда как выплаты по кредитам на цели "операции с недвижимостью" и "проведение свадьбы" являются более стабильными.

#### 3.5 Возможные причины появления пропусков в исходных данных.

Можно предположить, что пропуски в данных связаны с технической ошибкой вырузки/копирования/переноса данных, также имеет место быть человеческий фактор как со стороны сотрудника, так и со стороны клиента. Пропуски в данных также могут присутствовать у предпринимателей, безработных, студентов и женщин в декрете, т.к. их доход/труд стаж не стабилен, либо отсутствует.

### Шаг 4: общий вывод.

  Так как целью проекта был поиск влияния семейного положения и количества детей клиента на факт погашения кредита в срок, можно сделать вывод, что люди, не вступавшие в брак и имеющие большое количество детей, подлежат более высокому риску приобретения задолженности.   
  Исходя из дополнительно проведенных исследований можно сказать, что клиенты, зарабатывающе чуть выше минимального дохода (30-50 тр) и чуть меньше максимального дохода (200-1000 тр), являются более надежными и в большей части погашают кредиты в срок.  
  Также наибольший риск приобретения задолженности ложится на кредиты, связанные с автомобилями и образованием, тогда как выплаты по кредитам, связанные с недвижимостью и проведением свадьбы являются более стабильными.